@media screen and (max-width: 1600px){
	/************ sección nuestras especialidades ************/
	.ui-box-especialidades{		
		max-width: 1330px;
		width: 90%;		
		margin-left: auto;
		margin-right: auto;		
	}
}